@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Noto Serif', serif;
}

/*header {
    font-size: 10px;
    text-align: center;
    color: antiquewhite;

}*/


/* Navigation bar*/

.navigation li { /*the color is for the li elements bars*/
    float: left;
    /* opacity: .5; */
    background-color: #D4E157;
    
    
    
}

.navigation ul {/* the color is for the bar next to li element*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C0CA33; 
    
    
    
}


.navigation a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: .5;
}

.navigation a:hover {
    
    background-color: #7986CB;
    color: #000000;
    font-weight: 800;
    opacity: 1;
    
}



h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 800;
    line-height: 1.6;
    /*margin: 20px 40px;
    width: 90%;*/
    font-size: 25px;
    text-align: center;
    color: #000;
    text-decoration-line: underline;
    padding-top: 10px;
}

p {
    
    font-size: 15px;
    color: #000000;
    padding-top: 20px;

}

section {

    padding: 20px;
    text-align: justify;

}


/*footer*/

.footer {

    padding: 20px;
    border: 1px solid black;


}